.container {
  min-height: fit-content;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  color: #000;
  font-size: 2.5rem;
  text-align: center;
}

.form {
  background-color: #07203f;
  width: 50rem;
  padding: 2rem 2rem 1.5rem 2rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.inlineInputs {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.logoBlack {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.submitButton {
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
}

.error {
  font-size: 1rem;
  background-color: #820000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: fit-content;
}
