.nav {
  background-color: #000;
  padding: 0.2rem 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  position: relative;
}

.brand {
  height: auto;
  width: 65px;
}

.menu {
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  gap: 2rem;
  transform: translate(-50%, 70%);
  li {
    list-style: none;
    a {
      color: #fff;
      font-size: 2rem;
    }
  }
}
