.nav {
  background-color: #000;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  position: relative;
}

.menu {
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  gap: 2rem;
  transform: translate(-50%, 40%);
  li {
    list-style: none;
    a {
      color: #fff;
      font-size: 2rem;
    }
  }
}
